<?

// Is the site under maintenance, if so set this to true and all pages will show a maintenance screen
$maintenanceMode = false;
// You can backup the database without logging in if you have access to the key below.  Change it to a secure string
$backupKey = "A long password w!tH $ymb0ls is G00d";

//configure database info
 $adminemail = "spam@THIS.com";
$laddermailsender = "test@dot.com"; // this will be the senders email when the ladder sends a mail to someone... 
 $databaseserver = "localhost"; //usually localhost
 $databasename = "yourinfo"; //the name of your database
 $databaseuser = "yourinfo"; //the name of the database-user
 $databasepass = "yourinfo"; // the password to your database
 $directory ="http://yourinfo.com" ; //the location of your ladder directory (no trailing slash)


//configure the tables in the database
 $playerstable = "webl_players"; //the name of the table that contains information about the players
 $gamestable = "webl_games"; //the name of the table that stores the played games
 $newstable = "webl_news"; // the name of the table that stores the news
  $admintable = "webl_admin"; //name of the table that stores the admin login information
  $waitingtable = "webl_waiting"; //name of the table that stores the players waiting for a game...
$logtable ="webl_log";//name of tabel that has some log info  
  $mailhost = "my.smtp.server";

//config security
// WARNING: If you have a running ladder with registered users DONT ever change the salt! Nobody will be able to login then, ever, if you lose the salt.
$salt = "yourinfo"; 

//config stuff that has to do with the registration process...
define("REG_MIN_NICKLENGTH", 3); //Minimum number of characters allowed in a registrants nickname
define("REG_MAX_NICKLENGTH", 20); //Maximum number of characters allowed in a registrants nickname
define("REG_MAILVERIFICATION", 0); //Set to 0 or 1, where 0 is off and 1 on. If enabled (1) the player will get a e-mail when registering, with a link he must click in order to activate his account. Unverified accounts can't report games or logg in at all. If set to 0 no mail will be sent and the player can start using his acocunt directly since he will be "auto-verified" instead. Currently, and maybe depending on your host and who you send to, 10 - 30% of the mails sent are killed by the spam-filters, so it might be an idea to have this disabled if many complain, else they won't be able to use their accoutn unless you manually activate them through fiddling with their Confirmation-entry in the the players database.
define("NONPUBLIC_REPLAY_COMMENTS", 0); //set to 1 to enable, 0 to disable. If enabled only logged in members can view other members game comment

//config etc
$titlebar = "Wesnoth Ladder - Competitive Gaming Ladder";
$numindexnewbs = 3; // number of newcomers to show in index sidebar..
$numindexresults = 10; //num of latest played games results to show in index sidebar
$numindexhiscore = 10; //number of people listed in the hiscore in the index sidebar
$numindexnews = 10; // news items displayed at index bottom...
$newsitems = 3; //news items to show full text of...this needs to be fixed - index shows 3 even if it says 5 in here.. lol
$numindexdeled = 5; // how many deleted games are shown at index.
define("MIN_GAMES_REPORT_POPUP", 10); // Players who have reported (won) less than this many games will get to see a pop up asking them if they are sure they want to report.
define("COUNT_GAMES_OF_LATEST_DAYS", 1); // amount of days we're gonne count the most recent played games in to display in index sidebar
define("MIN_COUNT_GAMES_OF_LATEST_DAYS", 1); // minimum amount of games that need to have been played within the x most recent days to show the amount of games the x most recent days
define("AVERAGE_GAME_LENGTH", 40); // amount of minutes the average game is expected to last. This is used for calcuating work-hours spent on gaming in the sidebar.
define("MAX_REPLAYSIZE", 200000); // max fileseize of replay file user can upload, set in bytes. 200000 = 200 kb. This will have to be adjusted to fit different games and maybe according to you hosting limits. 
define("REPLAY_MIME_TYPE", "application/x-gzip"); // Mime-type the uploaded replay must have to be saved/valid. Only files that has this mime-type will be allowed. Official mimetypes can be seen in http://www.iana.org/assignments/media-types/  ..inofficial have the letter x- infront of them. If you want to know the mime type for a specific game then just upload one of it's replay and check it out in the error message it will give you. Set this to "" (nothing, not even a space) if php cant detect the mimetype, then it should probably allow all files it cant detect.
$replayfileextension = "gz"; //file extension of the replay files.

// The format style used here is the one from mysql DATE_FORMAT
// http://dev.mysql.com/doc/refman/6.0/en/date-and-time-functions.html#function_date-format
$displayDateFormat = '%Y-%m-%d %h:%i';


// Don't change the values below unless you have some basic understanding of how Elo works, the settings that are there already are okey for most people.  
// WARNING: If you have played games and you change any of the below values, you MUST rerank the entire ladder.  As the values below will change the rankings of players.

$passivedays = 30; // number of days a player has to play a game before he's put in passive rating mode
$ladderminelo = 1300; // all players that have this or higher elo rating will be listed in the ladder... the rest are not _visible_ in it.
$gamestorank = 10; // number of games a player must have played in order to get a ranking (not the same as getting an elo rating!)
$playersshown = 200; //Number of players to show per php query on stats

// Define a Kvalue array, must be in descending points order.  rating => kvalue
$kArray = array(2100 => 16, 1800 => 24, 0 => 32);
$kArrayProvisional = array(2100 => 16, 1800 => 24, 0 => 32);

define("BASE_RATING", 1500);    // this is what a new player gets
define("MAX_DIFFERENCE", 1000); //1200 is so high this never gets used
define("PROVISIONAL", 10); //The number of games it takes to not be provisional anymore 
define("PROVISIONAL_PROTECTION", 2); //The amount provisional rating is divided by.


// Variableis that used to be stored in the database.  They have been unified in this one configuration file.
$color1 = '#373E46';
$color2 = '#E7D9C0';
$color3 = '#E7D9C0';
$color4 = '#E7D9C0';
$color5 = '#E7D9C0';
$color6 = '#373E46';
$color7 = '#FFFBF0';
$font   =  'Verdana';
$fontweight = 'normal';
$fontsize   = '1';
$header   = $fontsize + 2;
$numgamespage = 100;
$numplayerspage = 100;
$statsnum = 200;
$standingsnogames = 0;
$pctnum = 0;
$hotcoldnum = 5;
$gamesmaxday = 30;
$gamesmaxdayplayer = 10;
$approve = 'no';
$approvegames = 'no';
$system = 'elorating';
$pointswin = 2;
$pointsloss = -1;
$report = 'winner';
$leaguename = 'Ladder of Wesnoth';
$copyright = 'powered by: <a href=\"http://www.worms-league.com/WebLeague\">WebLeague</a>';

//finish

// variabledb.php used to connect to the database, I've added a temporary hack here to do that in the config file, it should be
// moved somewhere more appropriate
$db = mysql_connect($databaseserver, $databaseuser, $databasepass);
mysql_select_db($databasename,$db);
?>
